[package]
name = "pdf_cj"
version = "0.1.0"
description = "PDF library for Cangjie - OpenPDF equivalent"

cjc-version = "1.0.4"
output-type = "static"

[dependencies]
# 这里需要引用chaoling83/zlib4cj.git，作者进行了修改，官方Cangjie-TPC/zlib4cj的有编译问题
zlib4cj = { git = "https://gitcode.com/chaoling83/zlib4cj.git" }

[test-dependencies]

# openHiTLS FFI — 路径由 configure.sh 自动检测并填入
# 如需手动指定：HITLS_LIB=/your/path ./configure.sh
[ffi.c]
hitls_crypto = { path = "@HITLS_LIB@" }
hitls_bsl = { path = "@HITLS_LIB@" }
boundscheck = { path = "@BOUNDSCHECK_LIB@" }
